data/SchemaNote.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WhatWeOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Services" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SRVID"/>
              <xs:element type="xs:string" name="Service"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Duration"/>
              <xs:element type="xs:float" name="Cost"/>
              <xs:element type="xs:string" name="Departs"/>
              <xs:element type="xs:string" name="Description2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>